@page "/students/create"
<h3>Create Student</h3>
<EditForm Model="@Model" OnValidSubmit="HandelValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label>Name</label>
        <InputText @bind-Value="Model.Name" class="form-control"/>
    </div>
    <button class="btn btn-primary">Save</button>
</EditForm>
