@page "/students/index"
@if (Students is null)
{
    <p><em>Loading ...</em></p>
}
<div>
    <a href="students/create">Create a new student</a> | 
    <a href="students/createwithdetails">Create a new student with details</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Students)
        {
            <tr>
                <th scope="row">@student.Id</th>
                <td>@student.Name</td>
                <td>
                    <button class="btn btn-link" @onclick="e=>OnDetailsClicked(student.Id)">Details</button> |
                    <a href="#">Edit</a> |
                    <a href="#">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>